.highlight .lineno {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.highlight .gutter {
  border-right: 1px solid #ccc;
  padding: 0.1em;
  width: 2.5em;
}
.highlight pre.lineno {
  border: none;
  opacity: 0.6;
  filter: alpha(opacity=60);
  padding: 0;
  word-break: keep-all;
  font-size: 0.7rem;
}
.highlight pre .code, .highlight pre code { 
  overflow: auto;
  -ms-word-wrap: initial;
  word-wrap: initial;
  overflow-wrap: normal;
  display: box;
}
.highlight pre .code pre, .highlight pre {
  border: none;
  margin-bottom: 0px;
  font-size: 0.7rem;
  word-break: normal;
  padding: 0;
}

.highlight pre .code pre {
  white-space: pre; 
  overflow: scroll;
  overflow-y: hidden;
}

.highlight>pre>code>table {
  width: 100%;
  table-layout: fixed;
}

.highlight>pre>code>table td.code {
  /*overflow-x:auto;
  display:block;
  width:100%;*/
}

.sidebar-footer ul {
  margin-left: 0;
  padding-left: 0;
}

.sidebar-footer ul li {
  display: inline-block;
  margin: 5px;
}

.sidebar-footer ul li a {
  background: #dfdfdf none repeat scroll 0 0;
  border-radius: 50%;
  display: block;
  height: 40px;
  line-height: 40px;
  position: relative;
  width: 40px;
}

.sidebar-footer ul li a span.username {
  display: none;
}

.portfolio {
  width: 100%;
  background-color: #FFDE00;
  padding: 10px;
}

.portfolio img {
  margin: 0 auto; 
}

p img {
  float:right;
  clear: right;
}