<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <div class="site-avatar">
        <a href="{{ site.baseurl }}">
          <img width="224" height="224" class="avatar avatar-224 photo grav-hashed" src="{{ site.author.photo }}" alt="" originals="224" scale="1.5">
        </a>
      </div>
      <h1 itemprop="headline">
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead" itemprop="description">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <ul>
        <li><a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a></li>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li><a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
      </ul>
    </nav>
    <!-- List of categories, one after another -->
    <!-- Links to profiles on LinkedIn, StackExchange, GitHub, etc. -->
    <footer class="sidebar-footer">
      <ul>
        <li>{% include icon-stackoverflow.html %}</li>
        <li>{% include icon-linkedin.html %}</li>
      </ul>
      <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
    </footer>
  </div>
</div>
